<div class="container">
    <h1 class="mb-3">Update Product</h1>
    <div class="row">
        <div class="col-md-6">
            <form #form="ngForm" (ngSubmit)="updateProduct()">
                <div class="mb-3">
                    <label for="Id" class="form-label">Id</label>
                    <input type="number" class="form-control" id="Id" 
                    name = " id" [(ngModel)]="parameterdetails.id">
                </div>
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Name"
                    name = "name" [(ngModel)]="parameterdetails.name">
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">value</label>
                    <input type="string" class="form-control" id="value"
                    name = "value" [(ngModel)]="parameterdetails.value">
                </div>
                <button type="submit" class="btn btn-primary mr-10">Submit</button>
                <button type="button" class="btn btn-danger"(click)="deleteProduct(parameterdetails.id)">Delete</button>

            </form>
        </div>
    </div>