<style>
  .navbar {
    background-image: url('https://shorturl.at/emrPS');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Task</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="add">Add-Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2>Welcome to Online E-Commerce Website</h2>

<router-outlet></router-outlet>
